.page-home {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  min-height: 100vh;

  padding: 0 #{$grid-gutter-width / 2};

  .header {
    padding: 16px 0;
  }

  .hero {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: center;

    width: 100%;
    margin: 0 auto;

    font-weight: bold;

    @include bp-up(md) {
      max-width: 580px;
    }

    .logotype {
      position: relative;
      left: -6px;

      margin-bottom: 48px;

      letter-spacing: -1.5px;

      font-size: 96px;
      // line-height: 128px;
      line-height: 118px;
    }

    .info {
      font-size: 24px;
      line-height: 32px;

      margin-bottom: 32px;
    }
  }

  .footer {
    padding: 16px 0;

    .contacts {
      margin-bottom: 32px;

      text-align: center;

      font-size: 12px;
      line-height: 16px;

      a {
        color: white;
      }
    }

    .copyright {
      text-align: center;

      opacity: 0.5;

      font-size: 12px;
      line-height: 16px;
    }
  }
}
